.vscode/**
.vscode-test/**
scripts/**
src/**
test/**
.gitignore
.cursorrules
**/*.map
**/tsconfig.json
**/tsconfig.build.json
**/.eslintrc.json
.prettierrc.json
.prettierignore
.editorconfig
.github/**
coverage/**
vitest.config.mts
node_modules/**
.git/**
